Checks: >
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-multi-level-implicit-pointer-conversion,
    clang-analyzer-*,
    -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
    concurrency-*,
    misc-*,
    -misc-include-cleaner,
    -misc-use-internal-linkage,
    performance-*,
    portability-*,
    -portability-avoid-pragma-once,
    readability-*,
    -readability-braces-around-statements,
    -readability-else-after-return,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    -readability-isolate-declaration,
    -readability-magic-numbers,
    -readability-math-missing-parentheses,
    -readability-redundant-parentheses,
    -readability-uppercase-literal-suffix,
